h1{
  text-align: center;
}
p{
  color: red;
  font-size: 22px;
}

.body{
  border-radius: 20px;
  width: 80%;
  padding: 10px 20px;
  height:  auto;
  margin: 50px auto;
  background: lightyellow;
  line-height: 35px;
  color: blue;
  font-size: 20px;

}

 p1 {
  color: black;
  position: absolute;
  left: 485px;
}


#check, #countrySel, #stateSel, #districtSel {
  width: 30%;
  position: absolute;
  right: 530px;
  line-height: 20px;
}

  p2{
    color: black;
    font-size: 16px;
  }

 #language{
   position: relative;
   left: 345px;
   color: black;
   font-size: 16px;
 }

button {
    border-radius: 5px;
    color: white;
    background-color: #0F5897;
    padding: 5px 10px 8px 10px;
    position: absolute;
    right: 50%;
  }
